html {
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    box-sizing: border-box;
}

a {
text-decoration: none;
}

#timeline-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    height: auto;
  background-color: #fff;
}

//transition effect; copy from https://docs.angularjs.org/api/ngRoute/directive/ngView
.view-animate-container {
  position:relative;
  height:100px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
  background-color: #fff;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}



.log-box {
   background-color: #D8D8D8; 
   overflow-x: auto;
    text-overflow: ellipsis;
  margin-bottom: 20px;
  padding: 10px 2px 20px 10px;
}

.log-file-name {
    font-weight: bolder;
}

.line-num {
    color: #005F9E;
    font-weight: bold;
    display: inline-block;
    width: 10%;
    float: left;
}

.one-line {
    width: 90%;
    display: inline-block;
    word-wrap: break-word;
text-overflow: ellipsis;
    float: left;
}

.log-hl {
 background-color: #FFD363;
}

#info-container-app {
    padding-bottom: 500px;
    width: 80%;
    margin:auto auto;
}

#goback {
  width: 100px;
  height: 40px;
  background-color: #337ab7;
  color: white;
  font-weight: bold;
  /* float: right; */
  position: fixed;
  right: 10%;
  top: 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 0px 0px 12px 12px;
}

#goback > a {
  color: #fff;
}

#info-container {
  background-color: #337ab7;
  position: fixed;
  top: 12%;
  left: 0px;
  bottom: 30%;
  width: 100%;
 
}

#info-container > h1 {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 20%;
    left: 50%;
    color: #fff;
font-size: 48px;
}
#info-container > div {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;

}
#info-container  a {
    display: inline-block;
    text-align: center;
}
.tracer-info {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #fff;
/*
  background-color: #fff;
*/
  border-color: #fff;

  width: 200px;

  margin-bottom: 15px;
  text-decoration: none;
}

.vmconfig-k {
  float: left;
  width: 20%;
}

.vmconfig-v {
  float: left;
  width: 80%;
}

.vmconfig {
  margin-bottom: 55px;
}
